
<% include ../partials/header %>

<div class='container'>
    <div class='row'>
        
        <h1 style="text-align:center;"> add new comment<%=data.name%></h1>
        <div style="width:30%;margin: 20px auto;">
<form action="/index/<%=data._id%>/comments" method="POST">
    <div class=form-group>
        <input  class='form-control' type="text" placeholder='text'name='comment[text]'>
    </div>
    <div class=form-group>
        <input class='form-control' type="text" placeholder='author' name='comment[author]'>
    </div>
    <div class=form-group>
    <button class='btn btn-lg btn-default btn-block btn-primary'> Submit</button></div>
</form>
    <a class="btn btn-primary btn-block"href="/index"> go back</a>
</div>
</div>
 </div>

<% include ../partials/footer %>